@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<p>
    Welcome! To complete your registration, kindly check your email and click on the verification link to confirm your account. Thank you!
</p>

