@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.AdminIndexNavClass(ViewContext)" id="admin" asp-page="./Index">Index Page</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.AdminUsersNavClass(ViewContext)" id="users" asp-page="./Users">Users</a></li>
    <li class="nav-item"><a class="nav-link" id="profile" asp-area="Identity" asp-page="/Account/Manage/Index">Back to profile</a></li>
</ul>
